* {
    margin: 0;
    padding: 0;
}

.edit_user {
    height: 39.5rem;
    width: 64.5rem;
    background-color: #16152B;
    background-image: url("../images/unsplash.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.edit_user .image {
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 6rem;

}

.edit_user_container {
    margin-top: 11.9rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.edit_user_container .image_input {
    display: none;
}

.display_name_input {
    background-color: transparent;
    border: solid #C4C4C4 0.2rem;
    width: 21.4rem;
    height: 3.3rem;
    border-radius: 1rem;
    opacity: 50%;
    padding: 0 1rem;
}

.edit_data_buttons {
    width: 100%;
    margin-top: 5.3rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 5rem;
}

.edit_data_buttons button {
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.edit_data_buttons .cancel {
    background-color: transparent;
    border: #C4C4C4 0.2rem solid;
}

.edit_data_buttons .save {
    color: #16152B;
}

.test_prob {
    color: red;
    font-size: 1.1rem;
    font-weight: 800;
}

.signup_succes {
    color: green;
    font-size: 1.1rem;
    font-weight: 800;
}
