
html {
    color: black;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.505);
    display: flex;
    justify-content: center;
    align-items: center;
}

 .modil {
    width: 28%;
    height: 75%;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 3rem;
}


.Sign_up_container div  {
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto !important;
}

.Sign_up_container div button {
    background-color: #4285f4 !important;
    width: 100%;
    margin: 0.5rem;
}

.Sign_up_container div div {
    background-color: white !important;
    height: 5rem;
    width: 5rem;
    margin-left: 20% !important;
}
/*
.modil_close {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.Log_modal {
    height: 3rem;
}

.icone_modal {
    background-image: url("../images/2.png");
    height: 5rem;
    width: 100%;
    background-repeat: no-repeat;
}

.Login_in_title {
    font-size: 3rem;
    padding-top: 2rem;
    font-weight: 500;
}

.user_information {
    height: 80%;
    width: 100%;
    background-color: rebeccapurple;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 1rem;
}

.Email_Address{
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputs {
    height: 4rem;
    border-radius: 0.7rem;
    color: black;
    padding: 1rem 1rem;
    font-family: sans-serif;
}

.Forgot_password_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.icone_div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.Forgot_password{
    text-decoration: underline;
}

.Login_button_modal {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    background-color: blueviolet;
}

.Sign_up {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.Sign_up_1{
    text-decoration: underline;
    color: #05F2DB;
    font-size: 1.3rem;
}

.Google {
    height: 3rem;
    width: 15rem;
    border: solid 0.1rem black;
    border-radius: 1rem;
    background-color: white;
} */

.sign_up {
    height: 5rem;
    width: 20rem;
    background-color: #05F2DB;
    color: black;
    border: none;
    border-radius: 1rem;
}


.profile_picture {
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
}