
html {
    color: black;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.505);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modil {
    width: 28%;
    height: 75%;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 3rem;
}


.Login_user_container div  {
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto !important;
}

.Login_user_container div button {
    background-color: #4285f4 !important;
    width: 100%;
    margin: 0.5rem;
}

.Login_user_container div div {
    background-color: white !important;
    height: 5rem;
    width: 5rem;
    margin-left: 20% !important;
}

.sign_up {
    height: 5rem;
    width: 20rem;
    background-color: #05F2DB;
    color: black;
    border: none;
    border-radius: 1rem;
}


.profile_picture {
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
}